@font-face {
    font-family: Poppins;
    src: url(../poppins/Poppins-Light.otf);
}@font-face {
    font-family: Eurostile;
    src: url(../fonts/eurostile/EUROSTIB.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --info: #2f89fc;
    --warning: #f89d13;
    --success: #8bc34a;
    --white: #f1f2f4;
    --black: #1b1f30;
    --bg-black: #333;
    --danger: #f23a2e;
    --grey: #4d4d4d;
    --primary: #2F2F6F;
    --accent: #20204d;
    --secondary: #E94E1B;
    --violet: #df42b1;
    --blue: #505add;
    --font-text: Eurostile, sans-serif;
    --font-title: "Astoria Extra Bold" !important;
    --font-subtitle: "Astoria Medium" !important;
    --colorText: #68686d;
    --colorText: #f2f2f2;
    --border-radius: 15px;
    --bezier: cubic-bezier(.05, .61, .41, .95);
    --transition: .3s;
    --font-size-subtitle: 6vw;
    --font-size-text: 3.5vw;
    --line-height-text: 5.5vw;
    --padding: 1.5vw 3vw;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif !important;
    box-sizing: border-box;
}
.el-title-section{
    color: #fff;
    font-family: var(--font-text) !important;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(var(--font-size-text) * 1.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    letter-spacing: 1px;
}.el-title-section span{
     color: var(--violet);
     font-size: calc(var(--font-size-text) * .9);
     font-weight: 400;
     font-family: var(--font-text) !important;
 }
.el-center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.el-btn,
.el-btn-radius{
    text-decoration: none;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
}.el-btn-radius{
     position: relative;
     padding: .5rem 1rem;
     border-radius: 2rem;
     background: var(--violet);
     background-image: linear-gradient(120deg, var(--blue) 0%, var(--violet) 100%);
 }.el-btn-radius::before{
      content: '';
      position: absolute;
      background-color: #fff;
      height: 100%;
      width: 0;
      transition: var(--transition);
  }.el-btn-radius:hover::before{
       width: 100%;
   }

body{
    /* background-color: rgb(245, 247, 249); */
    background: #151853;
}body.el-identification{
     background-color: #fff;
 }

#page {
    /* padding: 0 1rem 1rem; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*     gap: 1rem; */
}.el-content-area{
     max-width: 1320px;
 }

.el-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    /* border: 1px solid #efefef; */
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: var(--transition);
    box-shadow:  0 8px 5px rgba(0, 0, 0, .1);
    /* position: relative; */
    /* aspect-ratio: 3 / 3; */
    text-decoration: none;
}.el-card:hover .el-card-title{
     color: var(--violet);
 }/* .el-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
    transition: var(--transition);
}.el-card:hover::after{
    background: linear-gradient(to top,
    rgba(0, 0, 0, .8) 0%,
    rgba(0, 0, 0, .5) 30%,
    rgba(0, 0, 0, .2) 100%);
} */.el-card .el-box-img{
          position: relative;
          width: 100%;
          aspect-ratio: 5 / 3;
      }.el-card .el-content{
           /* position: absolute;
           left: 0;
           top: 85%;
           z-index: 2; */
           padding: 1rem;
           display: flex;
           flex-direction: column;
           align-items: center;
           gap: 1rem;
           font-family: var(--font-text) !important;
           transition: var(--transition);
           width: 100%;
       }/* .el-card:hover .el-content{
    top: 65%;
    transform: translateY(-50%);
} */.el-card .el-card-title,
            #el-details-event .el-title-event{
                font-size: calc(var(--font-size-text) * 1.2);
                font-family: var(--font-text) !important;
                font-weight: 600;
                margin-bottom: 1rem;
                color: var(--colorText);
                width: 250px;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                overflow: hidden;
                letter-spacing: 1px;
            }.el-card .el-card-title{
                 color: #1a1a1a;
                 letter-spacing: 1px;
                 transition: var(--transition);
             }#el-details-event .el-title-event{
                  width: auto;
                  margin: 0;
              }.el-card .el-content .svg-inline--fa,
               #el-details-event .el-grid .svg-inline--fa{
                   color: rgba(242, 242, 242, .8);
                   font-size: calc(var(--font-size-text) * .9);
               }.el-card .el-content .svg-inline--fa{
                    color: #68686d;
                }#el-details-event .el-grid .svg-inline--fa{
                     font-size: calc(var(--font-size-text) * 1.1);
                 }.el-card .el-price,
                  .el-card .el-localization,
                  #el-details-event .el-price{
                      color: rgba(242, 242, 242, .8);
                      font-size: var(--font-size-text);
                      align-self: flex-start;
                      font-family: var(--font-text) !important;
                      font-weight: 300;
                      letter-spacing: 1px;
                      text-transform: capitalize;
                  }.el-card .el-price span,
                   #el-details-event .el-price span{
                       color: #fff;
                       font-weight: 600;
                       font-family: var(--font-text) !important;
                   }#el-details-event .el-price span{
                        color: var(--violet);
                    }.el-card .el-price span{
                         color: #1a1a1a;
                     }.el-card .el-content ul{
                          /* padding: 1rem; */
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          width: 100%;
                      }.el-card .el-content p{
                           color: #68686d;
                           font-size: var(--font-size-text);
                           line-height: var(--line-height-text);
                           font-family: var(--font-text) !important;
                           font-weight: 300;
                           letter-spacing: 1px;
                       }

.el-hide { /* You can play with the seconds to change the "animation" */
    display: none;
}

.el-show { /* You can play with the seconds to change the "animation" */
    animation: show 0.3s ease 0s 1 normal forwards;
    transform-origin: center;
}

@keyframes hide {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        width: 0;
        height: 0;
        margin: 0;
    }
}
@keyframes show {
    0% {
        transform: scale(0);
        width: 0;
        height: 0;
        margin: 0;
    }
    100% {
        transform: scale(1);
    }
}


.el-counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #fff;
    width: 200px;
}.el-counter .el-number{
     font-size: calc(var(--font-size-text) * 1.5);
     font-weight: 600;
     font-family: var(--font-text) !important;
 }.el-counter hr{
      width: 50%;
      outline: none;
      border: none;
      background-color: #fff;
      height: 1px;
  }.el-counter p{
       text-transform: uppercase;
       font-size: calc(var(--font-size-text) * 1.1);
       font-family: var(--font-text) !important;
       text-align: center;
       line-height: var(--line-height-text);
   }

.el-hero{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: var(--border-radius);
    font-family: var(--font-text) !important;
    color: #717171;
    padding: 2rem;
    min-height: 291px;
}.el-hero .svg-inline--fa{
     color: var(--violet);
     font-size: calc(var(--font-size-text) * 4);
 }.el-hero .el-hero-title{
      color: #1a1a1a;
      font-size: calc(var(--font-size-text) * 1.4);
      font-weight: 600;
      font-family: var(--font-text) !important;
  }.el-hero p{
       font-size: calc(var(--font-size-text) * 1.1);
       text-align: center;
       line-height: var(--line-height-text);
       font-family: var(--font-text) !important;
       font-weight: 300;
   }

.el-sponsor{
    border: 1px solid #444675;
    /* flex: 0 0 50%;
    max-width: 50%;
    width: 50%;*/
    width: 100%;
    aspect-ratio: 6 / 4;
    /* height: 120px; */
    /* height: 240px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    margin-top: -1px;
}.el-sponsor img{
     transition-duration: 300ms;
     /* max-height: 110px; */
     max-height: 50px;
     opacity: 0.5;
     max-width: 100%;
     height: auto;
     vertical-align: middle;
     border-style: none;
 }.el-sponsor:hover img{
      opacity: 1;
  }

footer{
    background-color: #111343;
    padding: 2rem;
}footer .el-content-area{
     display: flex;
     flex-direction: column;
     gap: 2rem;
     width: 100%;
 }footer .el-grid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      gap: 2rem;
  }footer .el-block{
       display: flex;
       flex-direction: column;
       gap: 1rem;
       font-family: var(--font-text) !important;
   }footer ul,
    footer .el-reseaux-sociaux{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }footer h2{
         font-size: calc(var(--font-size-text) * 1.5);
         color: #fff;
         font-family: var(--font-text) !important;
         font-weight: 600;
     }footer a{
          color: rgba(242, 242, 242, .8);
          text-decoration: none;
          font-family: var(--font-text) !important;
          font-size: var(--font-size-text);
          font-weight: 300;
          letter-spacing: 1px;
          transition: var(--transition);
      }footer a:hover{
           color: var(--violet);
       }footer .el-reseaux-sociaux,
        #el-container-menu-phone .el-reseaux-sociaux{
            display: flex;
            flex-direction: row;
            gap: .5rem;
        }footer .el-reseaux-sociaux a,
         #el-container-menu-phone .el-reseaux-sociaux a{
             border: 1px solid rgba(242, 242, 242, .8);
             width: 40px;
             height: 40px;
             border-radius: 50%;
         }footer .el-reseaux-sociaux a:hover{
              border-color: var(--violet);
          }footer p{
               color: #fff;
               font-size: var(--font-size-text);
               text-align: center;
               border-top: 1px solid rgba(242, 242, 242, .8);
               padding: 1rem 1rem 0;
               font-family: var(--font-text) !important;
               line-height: var(--line-height-text);
               font-weight: 300;
               letter-spacing: 1px;
           }footer p strong{
                color: var(--violet);
                font-family: var(--font-text) !important;
            }

#el-container-menu-phone,
#el-popup{
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: var(--transition);
}#el-container-menu-phone.el-active,
 #el-popup.el-active{
     left: 0;
 }#el-container-menu-phone .el-content-area{
      display: flex;
      flex-direction: column;
  }#el-container-menu-phone header{
       padding: 1rem;
       display: flex;
       justify-content: space-between;
       align-items: center;
       border-bottom: 1px solid rgba(255, 255, 255, .1);
       margin-bottom: 2rem;
   }#el-container-menu-phone header img{
        width: 100px;
    }#el-container-menu-phone header .el-btn{
         width: 40px;
         height: 40px;
         background-color: var(--danger);
         border-radius: 50%;
         box-shadow: 0 0 20px rgba(0, 0, 0, .1);
         color: #fff;
     }#el-container-menu-phone main a{
          text-decoration: none;
          color: var(--colorText);
          font-size: calc(var(--font-size-text) * 1.2);
          font-weight: 600;
          font-family: var(--font-text) !important;
          text-align: center;
          display: inline-block;
          width: 100%;
          height: 100%;
          transition: var(--transition);
      }#el-container-menu-phone main a:hover{
           color: var(--violet);
       }#el-container-menu-phone main{
            min-height: 300px;
        }#el-container-menu-phone main ul{
             display: flex;
             flex-direction: column;
             gap: 1rem;
         }#el-container-menu-phone .el-social-links,
          #el-container-menu-phone .el-reseaux-sociaux{
              gap: 1rem;
              padding: 1rem;
              border-top: 1px solid rgba(255, 255, 255, .1);
          }#el-container-menu-phone .el-reseaux-sociaux a{
               border-color: var(--blue);
               color: var(--blue);
               transition: var(--transition);
           }#el-container-menu-phone .el-reseaux-sociaux a:hover{
                border-color: var(--violet);
                color: var(--violet);
            }

form .el-ligne{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}form .el-colonne{
     display: flex;
     flex-direction: column;
     gap: .5rem;
     width: 100%;
 }form input,
  form select,
  form textarea{
      display: block;
      min-height: 40px;
      width: 100%;
      outline: none;
      border: 1px solid #efefef;
      background-color: #f9f9f9;
      font-weight: 400;
      color: #68686d;
      padding: 0 1rem;
      font-family: var(--font-text) !important;
      font-size: calc(var(--font-size-text) * 1.1);
      border-radius: 5px;
       resize: vertical;
  }form .el-radio input{
       width: 15px;
       height: 15px;
   }form .el-radio .el-colonne{
        width: fit-content;
        gap: .25rem;
    }form textarea{
    min-height: 100px;
  }form label,
   form h2{
       font-weight: 400;
       color: #1a1a1a;
       font-family: var(--font-text) !important;
       font-size: calc(var(--font-size-text) * 1.1);
       letter-spacing: 1px;
   }form .el-error{
        color: var(--danger);
    }form h2{
        font-weight: bold;
        font-family: var(--font-text) !important;
        font-size: calc(var(--font-size-text) * 1.3);
    }form{
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 1rem;
         align-items: center;
         max-width: 500px;
         margin: auto;
     }form .el-btn{
          background-color: var(--blue);
          width: 100%;
          padding: 1rem;
          border-radius: 5px;
          color: #fff;
          font-family: var(--font-text) !important;
          font-size: var(--font-size-text);
          font-weight: 400;
          transition: var(--transition);
      }form .el-btn:hover{
           background-color: var(--violet);
       }form p{
            color: #68686d;
            font-family: var(--font-text) !important;
            font-size: var(--font-size-text);
            line-height: var(--line-height-text);
            font-weight: 300;
        }form p a{
             color: var(--blue);
             font-family: var(--font-text) !important;
             font-size: var(--font-size-text);
             text-decoration: none;
             transition: var(--transition);
         }form p a:hover{
              color: var(--violet);
          }form hr{
               height: 1px;
               border: none;
               outline: none;
               background-color: #efefef;
               width: 80%;
           }

#el-register{
    width: 100%;
}#el-register .el-content-area{
     width: 100%;
     padding: 1rem;
 }
#el-popup form{
    padding: 2rem;
    background: #fff;
    border-radius: var(--border-radius);
    position: relative;
}#el-popup form select,
 #el-popup form input{
     color: #68686d;
     padding: 0 1rem;
 }#el-popup form .el-price strong{
      color: #1a1a1a;
      font-family: var(--font-text) !important;
      font-weight: bold;
  }#el-popup form .el-price{
       display: none;
   }#el-popup form .el-price.el-active{
        display: block;
    }#el-popup form .el-phone img{
         height: calc(var(--font-size-text) * 2.5);
     }
#el-popup form .el-phone{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-text) !important;
    font-size: var(--font-size-text);
}#el-popup form .el-type-payment{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 100%;
 }#el-close-form-ticket{
      background: var(--danger);
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      right: -10px;
  }
