/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/


.owl-theme .owl-nav [class*=owl-] {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-theme .owl-nav [class*=owl-] {
    border-radius: 50%;
    border: 1px solid #eeeeee !important;
    width: calc( var(--font-size-text) + 4vw);
    height: calc( var(--font-size-text) + 4vw);
}.owl-theme .owl-nav span{
     height: 1.3em;
 }
.owl-nav button{
    border: none !important;
    outline: none !important;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-text) !important;
    font-weight: bolder !important;
    background: none !important;
    z-index: 3;
}.owl-prev, .owl-next{
     color: #eeeeee !important;
 }.owl-prev{
      left: 1%;
  }.owl-next{
       right: 1%;
   }

.owl-dots{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -10%;
}.owl-dots span{
     width: 10px !important;
     height: 2px !important;
     border-radius: 2px !important;
 }

.owl-carousel{
    width: 100%
}

